@import "https://fonts.googleapis.com/css?family=Roboto&display=swap" ;

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: white;
    
    
}


.principal{  
   max-width: 940px;       
   margin: 0 auto;
   
}   

.links{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 256px;
    padding: 30px 40px;
}

.links a{
    
    padding: 0 20px;
    font-size: 16px;
    text-decoration: none;
    padding-left: 30px;
    color: black;
}

.links img{
    padding-right: 50px;
}

.receitas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
    position: absolute;
}
.receita{
    width: 300px;
    height: 186px;
    position: relative; 
    
}
.receita p{
    font-size: 18px;
}

.receita h3{
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.receita img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.footer{
    height: 62px;    
    background: #EEEEEE;
    margin-top: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    
}

.footer p{

    text-align: center;
    padding: 20px 267px;       
    position: relative;
    font-size: 14px;
}


.modal-overlay{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    width: 70%;
    height: 80%;
    margin: 10vh auto;
    border-radius: 20px;
    position: relative;
}

.modal .close-modal{
color: black;
right: 12px;
top: 12px;
position: absolute;
cursor: pointer;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
    
}

.modal-content{
margin: 15vh auto;
position: absolute;
width: 100%;
height: 100%;
text-align: center;
}

.modal-content img{
    height: 250px;
    width: 500px;
    right:15vw;
    border-radius: 15px;

   
}

.modal-content p{
    margin-top: 50px;
   font-size: 30px;

}

.modal-content h3{
    font-weight: normal;
    opacity: 0.8;
}    