@import "https://fonts.googleapis.com/css?family=Roboto&display=swap" ;

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: white;
    
    
}

.principal{

   margin: 0 auto;
   max-width: 940px;

}   

.links{
    padding: 30px 40px;
    padding-bottom: 20px;
    
    
}

.links a{
    
    padding: 0 20px;
    font-size: 16px;
    text-decoration: none;
    padding-left: 30px;
    color: black;
}

.links img{
    padding-right: 50px;
}
/*            APRESENTACAO         */
.apresentacao{
    background: #FBDFDB ;
    position: relative;
    height: 366px;
    width: 940px;
    margin: 0 50px;
    border-radius: 30px;
}

.apresentacao_texto{
    
    padding-left: 60px;
    padding-top: 130px;
      
    text-align: left;
    text-indent: initial;
    position: absolute;
    
}

.apresentacao_texto h1{
    font-size: 32px;
    width: 305px;
    height: 38px;
    padding: 0px 0px;
    
}

.apresentacao_texto h2{
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0;
    width: 316px;
    height: 84px;
    color: rgba(0, 0, 0, 0.7);
    
}

.apresentacao img{
    float: right;
    width: 216px;
    height: 300px;
    padding-right: 100px;
    padding-top: 66px;
    position: relative;
}

.maisacessadas{
    padding: 50px 50px;
    width: 940px;
    height: 366px;
    
}
.receitas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.receita{
    width: 300px;
    height: 186px;
    position: relative; 
    
}
.receita p{
    font-size: 18px;
}

.receita h3{
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.maisacessadas img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.maisacessadas h1{
    font-size: 24px;
    padding-bottom: 20px;

}

.footer{
    height: 62px;    
    background: #EEEEEE;
    margin-top: 50px;
    width: 100%;
    position: relative;
    
}

.footer p{

    text-align: center;
    padding: 20px 267px;       
    position: relative;
    font-size: 14px;
}

